/*FUNDO DE TODAS AS PÁGINAS*/
#fundo{

    font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin:auto;
    background-color: #ffffff;

    background-image: url(img/fundo.jpg);
    background-size: cover;
}

 

/*margin: auto para sempre ficar no centro  */
 /*LINHA DE SEPARAÇÃO TODAS AS PAGINAS*/

hr {
    height: 5px;
    background-color:#33c208;
}
/*MENU TODAS AS PÁGINAS*/
#menu ul {
    padding:0px;
    margin:0px;
    font-family: 'Lucida Sans';
    overflow: hidden;
    background-color: #000000;
    list-style-type: none;
	
}
/*MENU TODAS AS PÁGINAS*/
#menu ul li { 
    display: inline; 
}
/*MENU TODAS AS PÁGINAS*/
#menu li {
    float: right;
}
/*MENU TODAS AS PÁGINAS*/
#menu li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*MENU TODAS AS PÁGINAS*/
.active {
    background-color: #33c208;
}
/*MENU TODAS AS PÁGINAS*/
#menu li a:hover {
    background-color: #33c208;
	-moz-transition: all 1.0s ease;
			-webkit-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
	
}
/*TÍTULO TODAS AS PÁGINAS*/
#titulo, #segunda, #terca, #quarta, #quinta, #sexta, #sabado {
    text-align: center;
    font-family: 'Lucida Sans';
	/*text-shadow: white 0.01em 0.01em 0.1em /*sombra*/ 
	text-shadow:-1px 0 white, 0 0.1px white, 0.1px 0 white, 0 -1px white; /*contorno*/
}
/*FORMULÁRIO DA PÁGINA DE LOGIN*/
#form1 {
    width: 25%;
    height:50%;
    padding-top: 30px; 
    padding-left: 37%;
    float:left;
    
}
/* FORMULÁRIO CADASTRO CLIENTE E CADASTRO FUNCIONÁRIO, BUSCA USUARIO, */
#form2 {
    width: 24%;
    height:5%;
    padding-left: 39%;
    padding-bottom: 10%;
    float:left;
}
/*SEGUNDO DORMULÁRIO DA ORDEM DE SERVIÇO */
#form3 {
    width: 33%;
    height:15%;
    padding-left: 53%;
    /*padding-top: 5%;*/
    /*padding-bottom: 10%;*/
    float:left;
}
/*PRIMEIRO FORMULÁRIO DA ORDEM DE SERVIÇO BUSCA CLIENTE E BUSCA CLIENTE 2*/
#form4 {
    width: 23%;
    height:5%;
    padding-left: 30%;
    padding-bottom: 0%;  
}
/*BORDA DOS FORMULÁRIOS*/
#borda{
    border-radius: 1em;
    background-color: white;
}
/*LOGO DE TODAS AS PÁGINAS*/
#logo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    display: block;
    
}
/*TABELA DA PÁGINA AGENDA*/
.tabelaPrincipal{
    margin:auto;
    border-width: medium;
    border-style: solid;
    /*border-radius: 80px 80px 80px 80px;*/
    border-color: #0B6121;
    background-color:#F2FBEF;
	}
.linhasColuna{
	border-width: 2px;
    border-style: solid;
	border-color: white;
}
/*PARA POSICIONAR OS BOTOES DE BUSCA DAS PAGINAS AO LADO DOS CAMPOS INPUTS*/
.campo1{
	float:left ;
}

/*DEFINE OS TAMANHOS DOS INPUTS DE ORDEM DE SERVICO*/
#precos {
    width: 50px;
}
/*TABELA LISTA FUNCIONARIOSS E CLIENTES*/
#tabelaLista{
    margin:auto;
    border-width: thin;
    border-style: solid;
   /* border-radius: 40px 40px;*/
    border-color: #33c208;
    background-color: beige;
}
/*TODOS OS BOTÕES*/
button{
	background: transparent;
	/*bolder-size: thin;*/
	 border-bottom: 0px;
     border:none!important
}
/*IMPUT SEM BORDA E SEM SOBRA DAS TABELAS DE LISTAS*/
#input{
    background: transparent;
	/*bolder-size: thin;*/
	/*border-bottom: 0px;*/
     border:none!important
}
#inputAgenda{
    background: transparent;
	color: #0B6121;
	font-size: 10pt;
    border:none!important
	 
}
#rodape{
	padding-top: 20px;	
	position: fixed;
	/*right: 0;*/
	top: 85%;
	width: 136em;
	margin-top: -0.5em;
}
/*CARD AGENDA*/
 .card {
  /*background-image: url(icons/postit.png);*/
  border-color: #33c208;
  border-width: 1px;
  border-style: solid;
  font-size: 20pt;
  width:  4.5em;
  height: 4em;
  /*float: left;*/
 /* position: relative;
  top: 30px;
  left: 800px;*/ 	
    background-color: white;
}
/*-------------------MENU LATERAL ------------------------------------------*/
/* regra para o box-sizing */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* regra para o clear float */
.cf:before,
.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}
body {
	margin-left:55px; /* espaço à esquerda para a barra vertical vísivel do menu */
	font:  62.5%/1.2 Verdana, Helvetica, Arial, sans-serif;
	}
	#lateral {
	padding:0 50px 0 0;
	-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
	font-size:1.2em;
	background:rgb(44,62,80);
	background-image: -moz-linear-gradient(135deg, rgb(3,8,12), rgb(16,57,79));
     background-image: -webkit-linear-gradient(135deg, rgb(3,8,12), rgb(16,57,79));
      background-image: -o-linear-gradient(135deg, rgb(3,8,12), rgb(16,57,79) );
       background-image: -ms-linear-gradient(135deg, rgb(3,8,12), rgb(16,57,79));
        background-image: linear-gradient(135deg, rgb(3,8,12), rgb(16,57,79));
	height:100%;
	overflow:hidden;
	width:370px; 
	position:fixed;
	top:0;
	left:-320px;
	}
#lateral:before {
	z-index:1000;
	content: url(icone-menu.png);
	font-size:4em;
	color:white;
	position:fixed;
	left:4px;
	top:45px;
	}
#lateral:hover:before, #lateral:focus:before {
left:-500px
	}
#lateral:hover, #lateral:focus,  #lateral:active  {
	overflow-y:scroll;
	-moz-transform: translate(320px, 0);
		-webkit-transform: translate(320px, 0);
			-o-transform: translate(320px, 0);
				transform: translate(320px, 0);
	padding-right:0;
	}	
	#lateral .box {
	list-style-type:none;
	margin-bottom:1em;
	padding-bottom:1em;
	}
#lateral h3 {
	display:inline-block;
	font-weight:bold;
	font-size:1.6em;
	font-style:normal;
	padding-bottom:0.2em;
	margin: 2em 0 2em 0.81em;
	color:rgb(255,255,255);
	border-bottom: 4px solid #33c208;
	}
#menuLateral {
	font-style:italic;
	position:relative;
	font-size:1.0em;
	margin:1em 0 1em -1em;
	padding:0;
	}
#menuLateral li {padding:0; margin:0;}
#menuLateral li a,  #menuLateral li a:link {
	font-size:1.2em;
	color:rgb(255,255,255);
	text-decoration: none;
	padding: 0.8em 0 0.8em 1em;
	display: block;
	-moz-transition: all 1.2s ease;
			-webkit-transition: all 1.2s ease;
				-o-transition: all 1.2s ease;
					transition: all 1.2s ease;
	}
#menuLateral li a:hover {
	color:rgb(255,255,255);
	background-color:#33c208; /*rgba(000,255,255,0.2);*/
	-moz-transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
	}
/*-------------------------------------------------- RESPONSIVO----------------------------------------------------------------------------------------------------------*/
@media (max-width: 500px) {
body {margin-left:0;background-size:100% 28em!important;}
#lateral {
	padding:0;
	-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
	font-size:1.2em;
	height:100%;
	overflow:auto;
	width:100%; 
	position:static;
	top:0;
	left:0;
	}
#lateral:before {
	z-index:1000;
	width:0;
	text-align:center;
	content: "";
	font-size:0;
	color:white;
	position:static;
	top:0;
	left:0;
	display:inline-block; 
	}
#lateral:hover, #lateral:focus {
	overflow:scroll;
	-moz-transform: none;
		-webkit-transform: none;
			-o-transform:none;
				transform:none;
	}
#menuLateral li a {border-bottom:1px solid #ccc;}
#menuLateral li:first-child a {border-top:1px solid #ccc;}	
}
@media (min-width: 1200px) { 
	#rodape{
	padding-top: 109px;
	}
	#form3{
	 padding-top: 280px;
	 padding-left: 38%;
	 width: 25%
	}
	#form4{
	 width: 10.5%;
	 padding-left: 45%;
	}
	#form2{
	 width: 11%;
	 padding-left: 45%;
	}
	#form1{
	 width: 10.5%;
	 padding-left: 45%;
	}
}
@media (max-width: 575.98px) { 
	#form3{
	 padding-top: 280px;
	 padding-left: 30%;
	 width: 50%
	}
	#form4{
	 width: 28%
	}
}