#form2 {
    width: 21%;
    height:5%;
    padding-left: 39%;
    padding-bottom: 10%;
    float:left;
}
#form3 {
    width: 21%;
    height:5%;
    padding-left: 51%;
    padding-top: 5%;
    padding-bottom: 10%;
    float:left;
}
#form4 {
    width: 21%;
    height:5%;
    padding-left: 30%;
    padding-bottom: 0%;  
}
#borda{
    border-radius: 1em;
    background-color: white;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    display: block;
    
}
#form1 {
    width: 25%;
    height:50%;
    padding-top: 30px; 
    padding-left: 37%;
    float:left;
    
}
#tabela{
    margin:auto;
    border-width: medium;
    border-style: solid;
    border-radius: 40px 40px;
    border-color: #33c208;
    background-color: beige;
}
#tabela2{
    /*margin:auto;*/
    border-width: thin;
    border-style: solid;
    /*border-radius: 20px 0px 0px 0px;*/
    border-color: #a2e48d;
    background-color: beige;
}
#tSegunda{
    border-width: thin;
    border-style: solid;
    border-radius:40px 0px 0px 0px;
    border-color: #a2e48d;
    background-color: beige;
}
#tSabado{
    border-width: thin;
    border-style: solid;
    border-radius:0px 40px 0px 0px;
    border-color: #a2e48d;
    background-color: beige;
}